.forgot-password-page {
    height: 100vh;
    width: 100%;
    
    .right-section {
      background-color: var(--primary-color);
      flex: 1;
      
      .form-container {
        width: 50%;
      }
  
      .text-color {
        color: var(--text-color);
      }
  
      .back-to-login {
        color: var(--text-color);
        cursor: pointer;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .left-section {
      flex: 1.5;
      background: var(--text-color);
  
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }
  