<div class="forgot-password-page d-flex">
    <div class="left-section">
      <img src="/assets/login-page.png" alt="forgot-password-image" />
    </div>
  
    <div class="right-section d-flex flex-column justify-content-center align-items-center">
      <div class="form-container">
        <h2 class="text-color text-center"><b>Forgot Password?</b></h2>
        <p class="text-color text-center"><b>Enter your email to reset your password</b></p>
        
        <app-form [formConfig]="forgotPasswordConfig" (formSubmit)="handleFormSubmit($event)"></app-form>
  
        <div class="back-to-login text-center mt-3" (click)="goToLogin()">
          <b>Back to login</b>
        </div>
      </div>
    </div>
  </div>
  
