<div class="teachers">
    @if(!isFormVisible) {

    <div class="cards d-flex gap-4">
        @for(tab of statsTabs; track tab.key; let i =$index) {
        <div class="tab d-flex align-items-center justify-content-between"
            [style.--card-color]="service.getCardColor(i+1)" [class.active]="activeTab === tab.key">
            <img [src]="tab.image" [alt]="tab.label" class="image">
            <div class="info d-flex flex-column align-items-end text-color">
                <div class="label">{{tab.label}}</div>
                <div class="count">{{getTabCount(tab.key)}}</div>
            </div>
        </div>
        }
    </div>

    <!-- Filter Bar -->
    <div class="filters d-flex align-items-center gap-3 mt-5">

        <div class="select">
            <select [(ngModel)]="selectedStatus" (change)="onFilterChange()">
                <option value="">Status</option>
                <option value="enable">Enable</option>
                <option value="disable">Disable</option>
            </select>
        </div>

        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search by Name or ID..." [(ngModel)]="searchQuery"
                (keyup.enter)="onSearch()">
        </div>

        <app-button [buttonData]="service.searchButton" (buttonHandler)="onSearch()"></app-button>
        <app-button [buttonData]="addTeacherButton" (buttonHandler)="onAddTeacher()"></app-button>
    </div>

    <!-- Table -->
    <div class="teachers__table">
        <app-table [tableContent]="teachersDetails" [totalLength]="totalTeachersCount"
            (paginationChange)="onPaginationChange($event)" (toggleChange)="onStatusToggle($event)"
            (view)="onViewDetails($event)">
        </app-table>
    </div>
    } @else {
    <div class="d-flex justify-content-between align-items-center mb-4">
        <app-button [buttonData]="service.backButtonDetail" (buttonHandler)="onAddTeacher()"></app-button>
    </div>
    <app-form [formConfig]="teacherFormConfig" (formSubmit)="onFormSubmit($event)"></app-form>
    }
</div>