.mat-mdc-table {
    background-color: var(--background-color);
    border-collapse: separate;

    th {
        position: sticky;
        top: 0;
        background-color: var(--background-color);

    }

    th,
    td {
        font-size: 16px;
        border-bottom: 1px solid #eee;
    }

    tr {
        background-color: var(--text-color);

    }

    .row-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--background-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .name {
        font-weight: 600;
        font-size: 14px;
    }

}

.common_table {
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-action {
    background-color: transparent;
    border: none;
    outline: none;
}

mat-paginator {
    background-color: var(--background-color);
}

.pagination {
    margin-top: 1rem;
    float: right;
}

.status {

    div {
        border-radius: 50%;
        padding: 5px 8px;
        font-weight: 600;
        border: 2px solid transparent;
    }

    .present {
        --clr: var(--primary-color);
    }

    .absent {
        --clr: var(--error-color);
    }

    .leave {
        --clr: var(--warn-color);
    }

    .present,
    .absent,
    .leave {
        border-color: var(--clr);
        color: var(--clr);

        &.active {
            background: var(--clr);
            color: var(--text-color);
        }
    }
}


.table {
    &__header {
        display: grid;
        grid-template-columns: auto 1fr auto;

        &__title {
            &__sub-title {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }

    &__filter {
        gap: 15px;

        &__content {
            gap: 10px;

            input {
                padding: 5px 12px;
                border-radius: 25px;
                outline: none;
                background: #E6E6E6;
                border: 1px solid #d7d7d7;
                width: 150px;

            }
        }
    }


}