.header {
    position: sticky;
    top: 0;
    background-color: var(--text-color);
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    &__module-info {
        gap: 10px;
        min-width: fit-content;

        &__name {
            font-size: 1.6rem;
            color: var(--primary-color);
            font-weight: 600;
        }

        i {
            font-size: 18px;
        }
    }

    &__content {
        gap: 10px;

        &__profile,
        &__chat,
        &__notification {
            padding: 8px 12px;
            cursor: pointer;

            i {
                color: gray;
                font-size: 18px;
            }
        }

        &__profile {
            &__image {
                width: 25px;
            }

            &__name {
                color: var(--primary-color);
                font-weight: 500;
            }
        }
    }
}