<div class="header d-flex justify-content-between">

    <div class="header__thought">
        {{thought}}
    </div>
    <div class="header__content d-flex">
        <div class="header__content__notification"><i class="fa-regular fa-bell"></i></div>
        <div class="header__content__chat"><i class="fa-regular fa-comments"></i></div>
        <div class="header__content__profile">
            <img src="/assets/profile.png" class="header__content__profile__image">
            <span class="header__content__profile__name">
                Admin
            </span>
        </div>
    </div>

</div>