<nav class="left-bar" [class.open]="isSidebarOpen">
	<div class="sidebar-header d-flex align-items-center">
		<div class="icon-part d-flex justify-content-center align-items-center">
			<i class="fa-solid fa-bars text-color" (click)="toggleSidebar()"></i>
		</div>
		<div class="text-part school-name text-color">School.ai</div>
	</div>

	<ul class="sidebar-menu d-flex flex-column">
		@for(module of moduleList; track module) {
			<li class="menu-item d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
				<div class="icon-part d-flex justify-content-center align-items-center">
					<i class="fa-solid {{module.icon}} text-color"></i>
				</div>
                <div class="text-part">
    				<a class="text-color simple-link" [routerLink]="module.path">{{module.name}}</a>
                </div>
			</li>
		}
	</ul>

	<div class="sidebar-footer d-flex align-items-center">
		<div class="icon-part d-flex justify-content-center align-items-center">
			<i class="fa-solid fa-cog text-color"></i>
		</div>
        <div class="text-part">
		    <a class="text-color simple-link">Log out</a>
        </div>
	</div>
</nav>