<div class="classes">
    @if(!isFormVisible) {

    <div class="d-flex justify-content-end align-items-center">
        <app-button [buttonData]="addClassButton" (buttonHandler)="showForm($event)"></app-button>
    </div>

    <div class="classes__cards d-flex flex-wrap gap-4 mt-4">
        @for(item of class_info; track item._id || item.id || $index; let i=$index) {
        <div class="classes__card d-flex flex-column justify-content-between pointer"
            [style.--card-color]="service.getCardColor(i)" (click)="onViewDetails(item)">
            <div class="classes__card__header d-flex justify-content-between">
                <div>
                    <h3 class="classes__card__header__title text-color">{{item.class_name}}</h3>
                    <p class="classes__card__header__count text-color">{{item.subjects?.length || 0}} Subject</p>
                </div>
            </div>
        </div>
        } @empty {
        <div class="w-100 text-center py-5">
            <p class="text-muted">No classes found in the database.</p>
        </div>
        }
    </div>
    } @else {
    <div class="d-flex justify-content-between align-items-center mb-4">
        <app-button [buttonData]="service.backButtonDetail" (buttonHandler)="showForm($event)"></app-button>
    </div>

    <app-form [formConfig]="classFormConfig" (formSubmit)="saveClass($event)"></app-form>

    }
</div>