<div class="classes d-flex">

    @for(item of class_info; track item; let i=$index) {
    <div class="classes__card d-flex flex-column justify-content-between" [style.--card-color]="getCardColor(i+0)">

        <div class="classes__card__header d-flex justify-content-between">
            <div>
                <h3 class="classes__card__header__title text-color">{{item.name}}</h3>
                <p class="classes__card__header__count text-color">{{item.count}} Students</p>
            </div>

            <span class="classes__card__header__badge d-flex justify-content-center align-items-center text-color">
                {{ (i + 1).toString().padStart(2, '0') }}

            </span>

        </div>

        <div class="classes__card__footer d-flex justify-content-between align-items-center">

            <div class="classes__card__footer__student d-flex align-items-center">
                @for(student of item.students; track student) {
                <img [src]="student.img" alt="image" class="classes__card__footer__student__image">
                }
                <span class="classes__card__footer__student__more primary-color">+12</span>
            </div>
        </div>
    </div>
    }
</div>